doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body(ng-app='app', ng-controller='HomeCrtl')

    block content

    script(type='text/javascript', src='/javascripts/lib/angular/angular.js')
    script(type='text/javascript', src='/javascripts/app.js')
    script(type='text/javascript', src='/javascripts/controllers.js')